


      
      <%= @cocktail.name  %>
 <%= link_to cocktail_path(@cocktail), method: :delete, data: { confirm: "Are you sure?" } do %>
              <i class="fa fa-trash"><span class="ml-3">Delete Cocktail</span> </i>
            <% end %>
        
